<aside class="about-me">
  <h2 class="ui dividing header">About me</h2>
  <img class="ui fluid circular image" alt="Steve profile image" src="{{ site.url }}/assets/images/steve.jpg" />
  <p></p>
  <p class="lead">Steve Le Roy Harris is a freelance web and native app developer based in East London.</p>
  <p>To get in touch email me at <a href="mailto:{{ site.email }}">{{ site.email }}</a> or text me on 07453 302 625. I'm also on the social networks below.</p>
  <div class="ui equal width grid">
    <a class="column" alt="LinkedIn" title="LinkedIn" href="http://www.linkedin.com/pub/steve-le-roy-harris/92/b7/248"><img src="{{ site.url }}/assets/images/linkedin.png" width="55" height="55" /></a>
    <a class="column" alt="Twitter" title="@{{ site.data.bio.twitter}} on Twitter" href="http://twitter.com/{{ site.data.bio.twitter }}"><img src="{{ site.url }}/assets/images/twitter.png" width="55" height="55" /></a>
    <a class="column" alt="GitHub" title="{{ site.data.bio.github }} on GitHub" href="http://github.com/{{ site.data.bio.github }}"><img src="{{ site.url }}/assets/images/github.png" width="55" height="55" /></a>
  </div>
</aside>
